<div class="main-container">
    <div class="login-container">
        <div class="login-header">
            <img src="../../assets/img/icons/denso.png" alt="Company Logo" />
            <h2 class="my-2 fw-bold">USER LOGIN</h2>
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">
                <i class="bi bi-person"></i> 
            </span>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Username">
                <label for="floatingInputGroup1">Username</label>
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-text">
                <i class="bi bi-lock"></i>
            </span>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Password"/>
                <label for="floatingInputGroup1">Password</label>
            </div>
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-primary">Login</button>
        </div>
    </div>
</div>