<main class="p-3">
    <h1 class="fs-3 fw-bold">Maintenance - Group Master</h1>

    <div class="select-name mt-3">
        <span>Group Name:</span>
        <span class="fw-bold ass-name">
            Guiller Garcia
        </span>
        <app-dropdown
        [options]="['Day Shift', 'Night Shift']"
        ></app-dropdown>
    </div>
    
    <div class="select-name mt-3">
        <span>Group ID:</span>
        <span class="fw-bold ass-name">
            123456789
        </span>
        <app-dropdown
        [options]="['Z0001/painting', 'Z0002/painting']"
        ></app-dropdown>
    </div>
    
</main>