.select-name {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-name {
    .ass-name {
        border: 1px solid black;
        padding: .25rem .5rem;
    }

    input{
        padding: .2rem .5rem;
        outline: none;
        border: 1px solid black;
    }
}

.group-name-input{
    width: 20rem;
    border: 1px solid black;
    padding: .25rem .5rem;
}

.group-name-input:focus{
    border: 1px solid black;
    outline: none;
}

.add-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .5rem;

    p{
        font-weight: 600;
    }
    
    select{
        width: 20rem;
        background-color: transparent;
        border: 1px solid black;
        padding: .25rem;
    }
}

