<main class="p-3">
  <div class="head">
    <h1 class="fs-3 fw-bold">Maintenance - User Master</h1>
    <div class="logo">Denso Philippines Corporation</div>
  </div>

  <div class="select-name mt-3">
    <span>Associate Name:</span>
    <input type="text">
    <app-dropdown [options]="['Lopez Maria', 'Cinco Limuel']"></app-dropdown>
  </div>

  <div class="select-name mt-3">
    <span>Associate Number:</span>
    <input type="text">
    <app-dropdown [options]="['UO1229', 'UO1228']"></app-dropdown>
  </div>

  <div class="select-name mt-3">
    <span>Email Address:</span>
    <input type="text">
    <app-dropdown [options]="['Lopez@xxx', 'Cayanes@xxx']"></app-dropdown>
  </div>

  <div class="select-name mt-3">
    <span>Group:</span>
    <app-dropdown [options]="['Lopez@xxx', 'Cayanes@xxx']"></app-dropdown>
  </div>

  <div class="mt-3 d-flex justify-content-between">
    <div class="d-flex gap-2">
      <app-button [backgroundColor]="'lightgreen'" (click)="openLg(content)">Add</app-button>
      <app-button [backgroundColor]="'lightyellow'" (click)="openLg(edit)">Edit</app-button>
      <app-button [backgroundColor]="'red'" (click)="deleteZone(headsUp)">Delete</app-button>
      <app-button [backgroundColor]="'lightblue'">Access</app-button>
    </div>

    <form>
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
        </div>
      </div>
    </form>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Associate Number</th>
        <th scope="col">Associate Name</th>
        <th scope="col">Associate Password</th>
        <th scope="col">Group</th>
        <th scope="col">Group Leader</th>
        <th scope="col">User Type</th>
        <th scope="col">Email Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">
          <input type="checkbox" [checked]="isSelected(user._id)" (change)="onCheckboxChange($event, user._id)">
        </th>
        <td><ngb-highlight [result]="'U0' + user.code" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.name" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.password" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.groupId" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.isLeader ? 'Yes' : 'No'" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.type" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="user.email" [term]="filter.value"></ngb-highlight></td>
      </tr>
    </tbody>
  </table>
  <!-- Add a button or any trigger to call getSelectedZoneIds method -->


  <ng-template #content let-modal>
    <form [formGroup]="zoneMasterForm" (ngSubmit)="newPart()">
      <div class="modal-header">
        <h4 class="modal-title">New Associate</h4>
        <button type="button" class="btn-close me-1" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>Fill out neccesary information to add new associate</p>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p class="fw-bold">Associate Number:</p>
          <div>
            {{ 'U0' + this.code }}
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
          <p class="fw-bold">Associate Name:</p>
          <input class="group-name-input" formControlName="name" type="text">
        </div>
        <div class="add-input">
          <p class="fw-bold">Associate Password:</p>
          <input class="group-name-input" formControlName="password" type="text">
        </div>
        <div class="add-input">
          <p>Group:</p>
          <select formControlName="groupId" class="modal-select">
            <option [value]="group.code" *ngFor="let group of groups">{{ group.code + ' / ' + group.name }}</option>
          </select>
        </div>
        <div class="add-input">
          <p>Group Leader:</p>
          <select formControlName="isLeader">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <div class="add-input" >
          <p>User Type:</p>
          <select formControlName="type">
            <option value="User">User</option>
            <option value="Admin">Admin</option>
          </select>
        </div>
        <div class="add-input">
          <p>Email:</p>
          <input class="group-name-input" formControlName="email" type="email">
        </div>

        <p class="mt-3 text-danger">* Required Items</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-light" (click)="addAndClose()">Add and close</button>
        <button type="submit" class="btn btn-light">Add and continue</button>
        <button type="button" class="btn btn-light" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </form>
  </ng-template>

  <ng-template #edit let-modal>
    <form>
      <div class="modal-header">
        <h4 class="modal-title">Edit Zone</h4>
        <button type="button" class="btn-close me-1" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>Fill out neccesary information to edit zone</p>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p class="fw-bold">Zone ID:</p>
          <div>
            {{ 'UO' + this.code }}
          </div>
        </div>
        <div class="add-input">
          <p class="fw-bold">Zone Name:</p>
          <input class="group-name-input" type="text">
        </div>
        <div class="add-input">
          <p class="fw-bold">Part:</p>
          <select >
            <option [value]="group.code + ' / ' + group.name " *ngFor="let group of groups">{{ group.code + ' / ' + group.name
              }}
            </option>
          </select>
        </div>
        <p class="mt-3 text-danger">* Required Items</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-light">Save and close</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </form>
  </ng-template>

  <ng-template #headsUp let-modal>
    <div class="modal-header">
      <h4 class="modal-title fw-bold">Heads up!</h4>
      <button type="button" class="btn-close me-1" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="px-3 fw-semibold my-3">
      {{ this.headsUpMessage }}
    </div>
    <div class="modal-footer">
      <button *ngIf="this.headsUpMessage !== 'No selected items'" type="submit" class="btn btn-light"    (click)="confirmDelete()">Yes</button>
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
</main>