<main class="p-3">
  <div class="head">
    <h1 class="fs-3 fw-bold">Maintenance - Tag Master</h1>
    <div class="logo">Denso Philippines Corporation</div>
  </div>
  
  <div class="select-name mt-3">
    <span>Tag ID: </span>
    <div class="inp">
      <input type="text">
      <app-dropdown [options]="['T02343', 'T02342']"></app-dropdown>
    </div>
  </div>

  <div class="select-name mt-3">
    <span>Tag Serial Number:</span>
    <div class="inp">
      <input type="text">
      <app-dropdown [options]="['A06801B3124199', 'A06801A1120100']"></app-dropdown>
    </div>
  </div>

  <div class="select-name mt-3">
    <span>Assigned User:</span>
    <div class="inp">
      <input type="text">
      <app-dropdown [options]="['Lopez Maria', 'Cinco Lemuel']"></app-dropdown>
    </div>
  </div>

  <div class="mt-3 d-flex justify-content-between">
    <div class="d-flex gap-2">
      <app-button [backgroundColor]="'lightgreen'" (click)="openLg(content)">Add</app-button>
      <app-button [backgroundColor]="'lightyellow'" (click)="openLg(edit)" >Edit</app-button>
      <app-button [backgroundColor]="'red'" (click)="deleteTags(headsUp)">Delete</app-button>
      <app-button [backgroundColor]="'lightblue'">Access</app-button>
    </div>

    <form>
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
        </div>
      </div>
    </form>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Select</th>
        <th scope="col">Tag ID</th>
        <th scope="col">Tag Serial Number</th>
        <th scope="col">Assigned User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tag of tags">
        <th scope="row">
          <input type="checkbox" [checked]="isSelected(tag._id)" (change)="onCheckboxChange($event, tag._id)">
        </th>
        <td><ngb-highlight [result]="'T00' + tag.code" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="tag.serial" [term]="filter.value"></ngb-highlight></td>
        <td><ngb-highlight [result]="tag.assignedUser" [term]="filter.value"></ngb-highlight></td>
      </tr>
    </tbody>
  </table>

  <ng-template #content let-modal>
    <form [formGroup]="tagsMasterForm" (ngSubmit)="newPart()">
      <div class="modal-header">
        <h4 class="modal-title">New Tag</h4>
        <button type="button" class="btn-close me-1" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>Fill out neccesary information to add a tag</p>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <p class="fw-bold">Tag ID:</p>
          <div>
            {{ 'T00' + this.code }}
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
          <p class="fw-bold">Serial Number:</p>
          <input class="group-name-input" formControlName="serial" type="text">
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
          <p class="fw-bold">Assigned User:</p>
          <select formControlName="assignedUser" class="modal-select">
            <option [value]="user.code + ' / ' + user.name " *ngFor="let user of users">{{ user.code + ' / ' + user.name }}</option>
          </select>
        </div>
        <p class="mt-3 text-danger">* Required Items</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-light" (click)="addAndClose()">Add and close</button>
        <button type="submit" class="btn btn-light">Add and continue</button>
        <button type="button" class="btn btn-light" (click)="clear()">Clear</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </form>
  </ng-template>

    <ng-template #edit let-modal>
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Edit Zone</h4>
          <button type="button" class="btn-close me-1" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <p>Fill out neccesary information to edit zone</p>
          <div class="d-flex justify-content-between align-items-center mt-3">
            <p class="fw-bold">Zone ID:</p>
            <div>
              {{ 'P00' + this.code }}
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mt-2">
            <p class="fw-bold">Zone Name:</p>
            <input class="group-name-input" type="text">
          </div>
          <div class="d-flex justify-content-between align-items-center mt-2">
            <p class="fw-bold">Part:</p>
            <select>
              <option [value]="user.code + ' / ' + user.name " *ngFor="let user of users">{{ user.code + ' / ' + user.name }}
              </option>
            </select>
          </div>
          <p class="mt-3 text-danger">* Required Items</p>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-light">Save and close</button>
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
      </form>
    </ng-template>

    <ng-template #headsUp let-modal>
      <div class="modal-header">
          <h4 class="modal-title fw-bold">Heads up!</h4>
          <button type="button" class="btn-close me-1" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="px-3 fw-semibold my-3">
          {{ this.headsUpMessage }}
      </div>
      <div class="modal-footer">
        <button *ngIf="this.headsUpMessage !== 'No selected items'" type="submit" class="btn btn-light"    (click)="confirmDelete()">Yes</button>
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
  </ng-template>
</main>