@import 'bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';
/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    box-sizing: border-box;
}


.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.head .logo{
    text-decoration: underline;
    font-size: 1.15rem;
    font-weight: 500;
}


.skeleton{
    animation: skeleton-loading 1s linear infinite alternate;
    opacity: .7;
    width: 100%;
    height: 15rem;  
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(0, 0%, 78%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.input-style{
    @apply d-flex justify-content-between align-items-center mt-2;
}