<main class="p-3">
    <div class="head">
        <h1 class="fs-3 fw-bold">Reports - Histogram</h1>
        <div class="logo">Denso Philippines Corporation</div>
    </div>

    <div class="select-period my-3">
        <div class="select-name">
            <span>Select a week:</span>

            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"></button>
        </div>

        <form>
            <div class="dp-hidden position-absolute">
                <div class="input-group">
                    <input
                        name="datepicker"
                        class="form-control"
                        ngbDatepicker
                        #datepicker="ngbDatepicker"
                        [autoClose]="'outside'"
                        (dateSelect)="onDateSelection($event)"
                        [displayMonths]="2"
                        [dayTemplate]="t"
                        outsideDays="hidden"
                        [startDate]="fromDate!"
                        tabindex="-1"
                    />
                    <ng-template #t let-date let-focused="focused">
                        <span
                            class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null"
                        >
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
            </div>
        </form>

        <div class="filter">
            <table>
                <tr>
                    <td>Start Date</td>
                    <th>{{ formatter.format(fromDate) }}</th>
                    <td>End Date</td>
                    <th>{{ formatter.format(toDate) }}</th>
                </tr>
            </table>
        </div>
    </div>

    <div class="select-name">
        <span>Associate Name:</span>
        <app-dropdown
        [options]="['(All)', 'Ace Gabriel P. Pasiliao', 'Jonas Villamar']"
        ></app-dropdown>
        <span>Shift Type:</span>
        <app-dropdown
        [options]="['Day Shift', 'Night Shift']"
        ></app-dropdown>
    </div>

    <div class="select-name my-3">
        <span>Work Class:</span>
        <app-dropdown
        [options]="['(All)', 'Ace Gabriel P. Pasiliao', 'Jonas Villamar']"
        ></app-dropdown>

        <button class="plot" (click)="toggleGraph()">
            Plot Histogram
        </button>
    </div>

    <ng-container *ngIf="isVisible">
        <div style="padding: 0 10%;">
            <p class="fw-bold text-primary my-3 text-center">Showing Results between {{ formatter.format(fromDate) }} to {{ formatter.format(toDate) }}</p>
            
            <canvas baseChart [data]="barChartData" [plugins]="barChartPlugins" [legend]="barChartLegend" [type]="'bar'">
            </canvas>
        </div>
    </ng-container>

</main>